{% extends 'base.html.twig' %}

{% block title %}   {{ parent() }} | Modifier mon profil {% endblock %}

{% block body %}

    <div class="form">
        {{ form_start(UpdatePhotoProfil) }}
        {{ form_widget(UpdatePhotoProfil) }}
        <input type="submit">
        {{ form_end(UpdatePhotoProfil) }}
    </div>


{% endblock %}

